.header_wrapp {
  background: $header-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.5rem 3rem;
  &-logo {
    display: flex;
    align-items: center;
    & img {
      margin-right: 20px;
    }
    & span {
      font-size: 3rem;
      color: #b1b1b1d4;
      font-weight: 600;
      letter-spacing: 1px;
      text-shadow: 1px 0px 3px;
    }
  }
}
